.section__productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
}


.productos__h3 {
    text-transform: uppercase;
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    color: var(--color-principal);
    margin-bottom: 3rem;
}

.productos__tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.tarjeta {
    border: 3px solid var(--color-sombras);
    border-radius: 5px;
    padding: 10px;
    min-height: 15rem;
    height: auto;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px var(--color-sombras);
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.02);
}

.tarjeta__titulo h4{
    font-family: var(--fuente-titulos);
    color: var(--color-principal);
    font-size: 2rem;
}

.tarjeta__lista {
    /* display: none; */
    border: 1px solid var(--color-sombras);
    border-radius: 5px;
    padding: 40px 25px;
    width: 15rem;
    list-style-type: none;
    text-align: center;
}

.tarjeta__item {
    padding: 5px 0px;
    font-family: var(--fuente-textos);
}

.tarjeta__boton {
    display: none;
    margin-top: 15px;
}

.tarjeta__boton button{
    font-family: var(--fuente-textos);
    padding: 5px 30px;
    border-radius: 5px;
    background: var(--color-sombras);
    color: var(--color-secundario);
}


@media (max-width: 768px) {
     .section__productos {
        text-align: center;
        min-height: auto;
        padding: 60px 20px;
    }

    .productos__h3 {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 5px;
        line-height: 4.5rem;
    }

    .productos__tarjetas {
        flex-direction: column;
        gap: 3rem;
    }

    .tarjeta__lista {
        padding: 20px 15px;
    }
}