.section__nosotros {
    min-height: 75dvh;
    padding: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.nosotros__h3 {
    text-transform: uppercase;
    font-family: var(--fuente-titulos);
    font-size: 3.2rem;
    color: var(--color-principal);
    margin-bottom: 1rem;
    text-align: center;
}

.nosotros__texto {
    font-family: var(--fuente-textos);
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color-textos);
    text-transform: none;
}




