.section__referencias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
    background-color: var(--color-principal);
    border-radius: 10px;
    min-height: 100dvh;
    padding: 20px;
    margin: 20px;
}

.referencias__titulo {
    text-transform: uppercase;
    font-family: var(--fuente-titulos);
    font-size: 3.5rem;
    color: var(--color-secundario);
    margin-bottom: 3rem;
    text-align: center;
}

.referencias__tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
}

.referencia__tarjeta {
    background-color: var(--color-secundario);
    border-radius: 20px;
    box-shadow: 0 8px 20px var(--color-sombras);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.referencia__tarjeta:hover {
    transform: translateY(-5px);
}

.referencia__tarjeta__imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--color-sombras);
    border-radius: 50%;
    margin-bottom: 15px;
}

.referencia__tarjeta__texto {
    font-family: var(--fuente-textos);
    font-size: 1.3rem;
    line-height: 1.2;
    color: var(--color-textos);
}


@media (max-width: 768px) {
    .referencias__titulo {
        font-size: 2.5rem;
    }

    .referencia__tarjeta {
        width: 90%;
    }

    .referencias__tarjetas {
        gap: 2rem;
    }
}


