.navbar {
    height: 8vh;
    background-color: deeppink;
    position: sticky;
    top: 0;
}

.navbar__logo{
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 480px) {
    /* .navbar {

    } */
}