.seccionBeneficios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    background-color: deeppink;
    height: 100dvh;
    border-radius: 10px;
}

.beneficios__imagen {
    box-shadow: 5px 5px 15px 5px #FF3DFE;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.beneficios__imagen:hover {
    transform: scale(1.02);
}

.seccionBeneficios__texto {
    width: 50%;
    text-align: center;
}

.beneficios__titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: "The Girl Next Door", cursive;
    color: aliceblue;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.3s;
}

.beneficios__texto {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 1.3rem;
    color: aliceblue;
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding: 0 1rem;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .seccionBeneficios {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .seccionBeneficios__texto {
        width: 90%;
        margin-top: 20px;
    }

    .beneficios__imagen {
        width: 90%;
        height: auto;
    }

    .beneficios__titulo {
        font-size: 1.8rem;
    }

    .beneficios__texto {
        font-size: 1rem;
    }
}